[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = ["E", "F", "C", "I", "B"]
ignore = ["E501"]

[tool.isort]
profile = "black"
line_length = 100

[tool.black]
line-length = 100
target-version = ['py311']
